FRONT_NET=10.10.1.0/24
BACK_NET=10.10.2.0/24

# port for puma to listen inside the container
UI_PORT=9292
# exposed port for puma
UI_EXPOSE_PORT=9292

# exposed port for prometheus
PROMETHEUS_EXPOSE_PORT=9090

# mongodb image name
MONGO_IMAGE=mongo
MONGO_VERSION=3.2

# own docker images 
# docker hub username
DOCKERHUB_USERNAME=USERNAME

# components versions

## # use specific versions in production
## UI_VERSION=4.0
## COMMENT_VERSION=4.0
## POST_VERSION=4.0
##
## PROMETHEUS_VERSION=v1.8.2
## GRAFANA_VERSION=4.6.2
## CADVISOR_VERSION=v0.28.2
## NODE_EXPORTER_VERSION=0.15.1
## # local built images
## MONGODB_EXPORTER_VERSION=4.0
## ALERTMANAGER_VERSION=4.0
## STACKDRIVER_VERSION=4.0

# Grafana configuration
# default username and password to access grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=secret
GRAFANA_PORT=3000

# Alertmanager port
ALERTMANAGER_PORT=9093

# variables for stackdriver configuration
STACKDRIVER_EXPORTER_PORT=9255
STACKDRIVER_EXPORTER_GOOGLE_PROJECT_ID=GCLOUD_PROJECT_ID
STACKDRIVER_EXPORTER_MONITORING_METRICS_TYPE_PREFIXES=compute.googleapis.com/instance/uptime,compute.googleapis.com/instance/cpu/utilization,compute.googleapis.com/instance/disk,compute.googleapis.com/instance/network/received_bytes_count,compute.googleapis.com/instance/network/sent_bytes_count
