# docker-compose configuration file
.env
.env-*
# build identification for prometheus
build_info.txt

# private slack notification settings in alertmanager/config.yml
alertmanager/config.yml
.docker-compose-latest.yml

*.swp

# helm things
requirements.lock
**/charts/*.tgz
